/bin
*.vcd
/rtl/database
/rtl/tasks
*.x
/tb/axi_vga_prfreg
/tb/qsim_axi_vga
/tb/qsim_vga_buffer
/tb/qsim_vga_top
/tb/qsim_vga_fontMem
/tb/software_tests/Makefile
*.o
*.hex
*.dump
*.status
*.log
*.riscv
