# 25Mhz clock
set_io clk 60

#pmod 1
set_io PMOD[0] 38 # P8, B57
set_io PMOD[1] 37 # P9, B56
set_io PMOD[2] 32 # P12, 24b
set_io PMOD[3] 31 # P13, 24a

#pmod 2
set_io PMOD[4] 34 # P10, 25b
set_io PMOD[5] 33 # P11, 25a
set_io PMOD[6] 29 # P14, 23b
set_io PMOD[7] 28 # P15, 23a

#pmod 3
set_io PMOD[8] 18 # P24, 12b
set_io PMOD[9] 17 # P25, 12a
set_io PMOD[10] 12 # P28, 8b
set_io PMOD[11] 11 # P29 8a

#pmod 4
set_io PMOD[12] 16 # P26, 10b
set_io PMOD[13] 15 # P27 10a
set_io PMOD[14] 10 # P30, 5b
set_io PMOD[15] 9 # P31, 5a
